@page "/arrival-detail"

<PageTitle>ArrivalDetail</PageTitle>

@using MainLine.Data

<style scoped>
    .arrival-row {
        padding: 10px 10px 5px 10px;
        margin: 5px 10px 5px 0px;
        border: 2px solid #000000;
        min-height: 80px;
        min-width: 420px;
        max-height: 80px;
        @* max-width: 420px; *@
    }
    .arrival-details {
        justify-content: left;
        display: flex;
    }
    .arrival-icon {
        width: 30px;
        flex-shrink: 0;
        text-align: center;
        padding-left: 5px;
    }
    .arrival-time {
        margin-left: auto !important;
    }
</style>

<div class="row text @textColor arrival-row " style="background-color: @Arrival.RouteColor">
    <small class="px-0">@Arrival.Route #@Arrival.RunId to</small>
    <div class="arrival-details flex-row flex-fill p-0 align-items-center"> 
        <span class="fs-2">@Arrival.DestinationName</span>
        <span class="fs-3 arrival-time">@Arrival.ArrivalTimeInMinutes</span>
        <span class="arrival-icon material-symbols-outlined">@arrivalIcon</span>
    </div>
</div>

@code {
    [Parameter]
    public Arrival Arrival { get; set; } = new(new Eta());

    private string arrivalIcon => Arrival.IsScheduled ? "schedule" : "rss_feed"; // Show a clock if it's scheduled, otherwise show a feed icon
    private string textColor => Arrival.RouteColor == "#F9E300" ? "text-dark" : "text-light"; // Black text for yellow line
}
